<div fxLayout="col" fxLayoutAlign="center">
    <div class="login-form" [formGroup]="loginForm">
        <div class="title">
            Login
        </div>

        <div *ngIf="loginForm.controls.email; let email">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" [formControl]="email" [email]="true" />
                <mat-error *ngIf="email.hasError('required')">
                    Please enter your email.
                </mat-error>
                <mat-error *ngIf="email.hasError('email')">
                    Please enter a valid email in format: sample@example.com
                </mat-error>
            </mat-form-field>
        </div>

        <div *ngIf="loginForm.controls.password; let password">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" [formControl]="password" />
                <mat-error *ngIf="password.hasError('required')">
                    Please enter your password.
                </mat-error>
            </mat-form-field>
        </div>

        <div *ngIf="loginForm.controls.rememberMe; let rememberMe">
            <mat-slide-toggle color="primary" [formControl]="rememberMe">
                Remember Me
            </mat-slide-toggle>
        </div>

        <div class="login-button">
            <button mat-flat-button color="primary" [disabled]="loginForm.invalid">Login</button>
        </div>

        <div class="forgot-password">
            <a [routerLink]="['']">Forgot Password</a>
        </div>
    </div>
</div>