$deeppurple: #673ab7;

.login-form {
    width: 33%;
    padding: 25px;
    margin-top: 25px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid $deeppurple;

    mat-form-field,
    mat-slide-toggle {
        width: 100%;
    }

    .login-button button {
        width: 33%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
