html,
body {
    height: 100%;
    background-image: url('app/assets/images/golf-pattern-2.png');
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
    font-size: 25px;
    margin-bottom: 25px;
}
